.idea/
.DS_Store
build/
cmake-build-debug/
cmake-build-release/
lib/
test/data/*
!test/data/data.R
!test/data/CMakeLists.txt
!test/data/test.bgen
!test/data/test.bgen.bgi
sim/data
.Rapp.history
.DS_Store
