.idea/
.DS_Store
build/
cmake-build-debug/
cmake-build-release/
lib/
test/data/*
!test/data/data.R
!test/data/CMakeLists.txt
!test/data/test.bgen
!test/data/test.bgen.bgi
!test/data/data-outlier.csv
!test/data/data.csv
!test/data/example.csv
!test/data/example.bgen
!test/data/example.bgen.bgi
!test/data/example.R
sim/data
.Rapp.history
venv
